@model ProfileViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

@if (Model.enginner != null && Model.owner == null)
{
    <div class="card shadow-lg mx-4 card-profile-bottom">
        <div class="card-body p-3">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="~/img/@Model.enginner.ImageURL" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            @Model.enginner.FullName
                        </h5>
                        <p class="mb-0 font-weight-bold text-sm">
                            @Model.enginner.YearOfExperience Years of Experience
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-8">
                <form method="post" asp-action="updateprofile">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <p class="mb-0">Edit Profile</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-uppercase text-sm">User Information</p>
                            <input class="form-control" type="text" hidden asp-for="@Model.enginner.EngineerID">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Username</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.Appuser.UserName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Email address</label>
                                    <input class="form-control" type="email" asp-for="@Model.enginner.Appuser.Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">First name</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.FullName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Years of Experience</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.YearOfExperience">
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal dark">
                        <p class="text-uppercase text-sm">Contact Information</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Workshop Address</label>
                                    <textarea class="form-control" type="text" asp-for="@Model.enginner.WorkShopAddress"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Facebook Handle</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.FacebookHandle">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Twitter Handle</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.TwitterHandle">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Instagram Handle</label>
                                    <input class="form-control" type="text" asp-for="@Model.enginner.InstagramHandle">
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal dark">
                        <p class="text-uppercase text-sm">Specializarion Information</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <select asp-for ="@Model.selected_car.Model" id="drp_car_model" class="form-select border-0" style="height: 55px;">
                                        <option  selected value="-1">Choose Car You Repair</option>
                                        @foreach (var car in Model.cars)
                                        {
                                            <option value="@car.Model">@car.Make @car.Model @car.Year</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select asp-for="@Model.selected_service.TypeOfService" id="drp_service_type" class="form-select border-0" style="height: 55px;">
                                        <option selected value="-1">Choose Your Specialization</option>
                                        @foreach (var service in Model.services)
                                        {
                                            <option value="@service.TypeOfService">@service.TypeOfService</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div id="car_content_div" class="table-responsive">
                                    <partial name="_CarPartialView" model="Model" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="service_content_div" class="table-responsive">
                                    <partial name="_ServicePartialView" model="Model" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pb-0">
                        <div class="d-flex align-items-center">
                            <button type="submit"  class="btn btn-primary btn-sm ms-auto">Update</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="card shadow-lg mx-4 card-profile-bottom">
        <div class="card-body p-3">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            @Model.owner.FullName
                        </h5>
                        <p class="mb-0 font-weight-bold text-sm">
                            Car Owner
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <p class="mb-0">Edit Profile</p>
                            <button class="btn btn-primary btn-sm ms-auto">Settings</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-uppercase text-sm">User Information</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Username</label>
                                    <input class="form-control" type="text" asp-for="@Model.owner.Appuser.UserName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Email address</label>
                                    <input class="form-control" type="email" asp-for="@Model.owner.Appuser.Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Full Names</label>
                                    <input class="form-control" type="text" asp-for="@Model.owner.FullName">
                                </div>
                            </div>

                        </div>
                        <hr class="horizontal dark">
                        <p class="text-uppercase text-sm">Contact Information</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Address</label>
                                    <textarea class="form-control" type="text" asp-for="@Model.owner.Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#drp_car_model").on("change", function () {
                if ($(this).val() != "-1") {
                    $.ajax({
                        type: "Get",
                        url: "@Url.Action("GetCar")",
                        data: { carmodel: $(this).val() },
                        success: function (result) { $("#car_content_div").append(result); },
                        error: function (err) { alert("no success"); }
                    });
                }

            });
            $("#drp_service_type").on("change", function () {
                if ($(this).val() != "-1") {
                    $.ajax({
                        type: "Get",
                        url: "@Url.Action("GetService")",
                        data: { servicetype: $(this).val() },
                        success: function (result) { $("#service_content_div").append(result); },
                        error: function (err) { alert("no success"); }
                    });
                }

            });
        });
    </script>
}